h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 250%;
  margin: 20px;
  text-align: center;
  color: black;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 175%;
  margin: 50px;
  text-align: left;
  color: black;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 20px;
  text-align: center;
  color: black;
}

html {
  background-color: silver;
}

#themeat {
  display: flex;
  text-align: justify;
  justify-content: space-between;
}

#contactinfo ul li {
  display: inline;
  margin: 25px;
}

#contactinfo div {
  display: flex;
  justify-content: center;
}

#columnleft {
  margin-right: 1rem;
}

#columnright {
  border-left: 2px dashed;
  border-color: gray;
  border-image-slice: 1;
  padding-left: 1rem;
}
